<!DOCTYPE HTML>
<html>
<head>
    <title>Video Share</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom Theme files -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css' media="all"/>
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel='stylesheet' type='text/css' media="all"/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--start-smoth-scrolling-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.custom.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/popuo-box.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.js') }}" type="text/javascript"></script>
    <!-- fonts -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <!-- //fonts -->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <h1><img src="images/logo.png" alt=""/></h1>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="top-search">
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                    <input type="submit" value=" ">
                </form>
            </div>
            <div class="header-top-right">
                <!--<form action="http://127.0.0.1:5000/uploadVideo" id="idVideoUploadForm1" method="POST"
                      enctype="multipart/form-data">
                    <input type="file" class="email" name="file" id="idVideoUploadField1" accept="video/*" required/>
                </form>
                <div class="file">

                    <a href="#" id="idVideoUploadButton1">Upload</a>
                </div>-->
                <div class="signin">
                    <a href="#small-dialog2" class="play-icon popup-with-zoom-anim">Sign Up</a>
                    <div id="small-dialog2" class="mfp-hide">
                        <h3>SignUp</h3>
                        <div class="signup">
                            <form>
                                <input type="text" class="email" placeholder="Email" required="required"
                                       pattern="([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?" title="Enter a valid email"/>
                                <input type="password" placeholder="Password" required="required" pattern=".{6,}"
                                       title="Minimum 6 characters required" autocomplete="off"/>
                                <input type="text" class="email" placeholder="Mobile Number" maxlength="10"
                                       pattern="[1-9]{1}\d{9}" title="Enter a valid mobile number"/>
                                <input type="submit" value="Sign Up"/>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="signin">
                    <a href="#small-dialog" class="play-icon popup-with-zoom-anim">Sign In</a>
                    <div id="small-dialog" class="mfp-hide">
                        <h3>Login</h3>
                        <div class="signup">
                            <form>
                                <input type="text" class="email" placeholder="Enter email / mobile" required="required"
                                       pattern="([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?"/>
                                <input type="password" placeholder="Password" required="required" pattern=".{6,}"
                                       title="Minimum 6 characters required" autocomplete="off"/>
                                <input type="submit" value="LOGIN"/>
                            </form>
                            <div class="forgot">
                                <a href="#">Forgot password ?</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</nav>
<div>
    <div class="col-md-2 sidebar">
        <div class="top-navigation">
            <div class="t-menu">MENU</div>
            <div class="t-img">
                <img src="{{ url_for('static', filename='images/lines.png') }}" alt="" />
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="drop-navigation drop-navigation">
            <div id="idDetailsPanel">
                <h5>DETAILS</h5>
                <hr>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>Name:</td>
                        <td id="idNameText"></td>
                    </tr>
                    <tr>
                        <td>Format:</td>
                        <td id="idExtensionText"></td>
                    </tr>
                    <tr>
                        <td>Content Type:</td>
                        <td id="idContentTypeText"></td>
                    </tr>
                    <tr>
                        <td>Uploaded On:</td>
                        <td id="idUploadedOnText"></td>
                    </tr>
                    <tr>
                        <td>URL:</td>
                        <td ><a href="" id="idURLText">link</a></td>
                    </tr>
                    </tbody>
                </table>

                <div class="side-bottom-icons">
                    <ul class="nav2">
                        <li id="idShareBtnOuter" ><a href="#" id="idShareBtn" class="glyphicon glyphicon-share">Share</a></li>
                        <li id="idDeleteBtnOuter"><a href="#" id="idDeleteBtn" class="glyphicon glyphicon-remove">Remove</a></li>
                    </ul>
                </div>
            </div>
            <div class="side-bottom">
                <div class="side-bottom-icons">
                    <h5>UPLOAD VIDEO</h5>
                    <hr>
                    <ul class="nav2">
                        <li>
                            <form action="http://127.0.0.1:5000/uploadVideo" id="idVideoUploadForm" method="POST"
                                  enctype="multipart/form-data">
                                <input type="file" class="email" name="file" id="idVideoUploadField" accept="video/*" required/>
                            </form>
                        </li>
                    </ul>
                </div>
                <button id="idVideoUploadButton" class="uploadBtn"><span class="glyphicon glyphicon-upload"></span>  UPLOAD</button>
                <div class="copyright">
                    <p>Copyright © 2015 My Play. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="main-grids">
            <div class="recommended">
                <div class="recommended-grids">
                    <div class="recommended-info">
                        <h3>Videos</h3>
                    </div>
                    <div id="top" class="callbacks_container">
                        <ul class="rslides" id="slider3">
                            <li>
                                <div class="animated-grids">
                                    {% for id, video in videos.iteritems() %}
                                    <div class="col-md-2 videoGrids" style="margin-top: 20px; margin-left: 20px">
                                        <a href="/video/get/{{video['Key']}}">
                                            <div class="row">
                                                <div class="resent-grid-img recommended-grid-img">
                                                    <img src="{{ url_for('static', filename='images/c3.jpg') }}" alt=""/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="resent-grid-info recommended-grid-info">
                                                    <h5>{{video['Name']}}</h5>
                                                    <!--<div class="slid-bottom-grids">
                                                        <div class="slid-bottom-grid">
                                                            <p class="author author-info"><a href="#" class="author">John Maniya</a></p>
                                                        </div>
                                                        <div class="slid-bottom-grid slid-bottom-right">
                                                            <p class="views views-info">2,114,200 views</p>
                                                        </div>
                                                    </div>-->
                                                </div>
                                            </div>
                                        </a>
                                        <div class="clearfix"></div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
		$(document).ready(function() {
			$('#idDetailsPanel').hide();
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
		$('#idVideoUploadButton').click(function(event) {
		    supportedFormat=['AVI','MP4','MOV'];
		    event.preventDefault();
		    videoFile = $('#idVideoUploadField').val();
		    if(videoFile){
		        videoFileParts = videoFile.split(".");
		        videoFormat = videoFileParts[videoFileParts.length -1]
		        if(supportedFormat.indexOf(videoFormat.toUpperCase())!= -1 ){
		            $('#idVideoUploadForm').submit();
		        }
		        else{
		            alert("Unsupported video format.");
		        }
		    }
		    else{
		        alert("No file Selected.");
            }
		});

		$('.videoGrids').click(function(event) {
		    event.preventDefault();

		    $.ajax({
                url: $(this).children()[0].href,
                cache: false,
                success: function(r){
                    var fileObject = $.parseJSON(r)[0];
                    var fileKey = fileObject.Name +"."+ fileObject.Key.split(".")[1];
                    $('#idNameText').html(fileObject.Name);
                    $('#idURLText').attr('href',fileObject.URL);
                    $('#idContentTypeText').html(fileObject.ContentType);
                    $('#idExtensionText').html(fileObject.Key.split(".")[1]);
                    $('#idUploadedOnText').html(fileObject.UploadedOn);
                    $('#idDetailsPanel').show("slow","swing");
                    $('#idDeleteBtn').attr('href','/video/delete/'+fileKey);
                }
            });

		});


</script>
</body>
</html>